# Solana Network Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
# Options: devnet, mainnet-beta, testnet, or localhost

# Custom RPC URL (optional - leave empty to use default cluster URL)
NEXT_PUBLIC_RPC_URL=http://localhost:8899

# Trading Fund Program ID
NEXT_PUBLIC_PROGRAM_ID=Fg6PaFpoGXkYsidMpWTK6W2BeZ7FEfcYkg476zPFsLnS
